html, body {
    height: 100%;
}

.app-body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.app-main {
    flex: 1 0 auto;
}

.app-footer {
    flex-shrink: 0;
    width: 100%;
    white-space: normal; 
    line-height: normal; 
}

body {
    overflow-x: hidden;
}
