name: Build & Push to ACR

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to ACR
        run: echo "${{ secrets.ACR_PASSWORD }}" | docker login ${{ secrets.ACR_LOGIN_SERVER }} -u ${{ secrets.ACR_USERNAME }} --password-stdin

      - name: Build
        run: docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/task4:latest -f Task4/Task4/Dockerfile .

      - name: Push
        run: docker push ${{ secrets.ACR_LOGIN_SERVER }}/task4:latest
