name: Build & Deploy to Container App

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Login to ACR
        run: echo "${{ secrets.ACR_PASSWORD }}" | docker login ${{ secrets.ACR_LOGIN_SERVER }} -u ${{ secrets.ACR_USERNAME }} --password-stdin
      
      - name: Build and Push
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/task4:latest -f Task4/Task4/Dockerfile .
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/task4:latest
      
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Deploy to Container App
        uses: azure/container-apps-deploy-action@v1
        with:
          containerAppName: container-web-app
          resourceGroup: task4-group
          imageToDeploy: ${{ secrets.ACR_LOGIN_SERVER }}/task4:latest
